@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Montserrat:wght@100&family=Smooch+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&family=Montserrat:wght@100&family=Poppins:wght@200&family=Smooch+Sans:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    background: #000000;
    
}
.log_body {
    width: calc(100vw - 100px);
    height: calc(100vh - 50px);
    margin: 20px auto;
    background: #ffffff;
    border-radius: 54px;

    display: flex;
    position: relative;
    overflow: hidden;
}
.container {
    margin: auto;
}
.con_log {
    width: 370px;
    background: #fff;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}
.head h1 {
font-style: normal;
font-weight: 700;
font-size: 90px;
font-family: 'Smooch';

}
.head p {
    font-size: 14px;
    text-align: center;
    line-height: 0px;
    font-family: 'Poppins';
    font-weight: 700;
}
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
form .user, .password {
    height: 52px;
    padding: 0 20px;
    background: #F2F2F2;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
form .user span {
    font-size: 25px;
}
form input {
    width: 294px;
    height: 100%;
    padding-left: 10px;
    border-radius:0 10px 10px 0;
    background: #F2F2F2;
    border: none;
    font-size: 18px;
    font-family: 'Poppins';
}
input:focus {
    outline: none;
}
button {
    height: 50px;
    border: none;
    border-radius: 10px;
    background: #1C1C1C;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}
.ter_log {
    position: relative;
}
.ter_log hr {
    background: #F0EDFF;
    opacity: 0.2;
}
.ter_log p {
    position: absolute;
    top: -12px;
    left: 50%;
    padding: 0 10px;
    transform: translateX(-50%);
    background: #ffffff;
}
.log_with div {
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-radius: 10px;
    cursor: pointer;
    
}
.log_with div p {
    padding-left: 10px;
}
.con_img img {
    height: calc(100vh - 100px);
    width: calc(50vw);
    margin-top: 25px;
    margin-right: 25px;
}

img.vector {
    display: none;
    position: absolute;
    bottom: 50px;
    left: -2px;
}
@media screen and (max-width: 500px) {
   .log_body{
        width: 100vw;
        height: 100vh;
        margin: 0;
        border-radius: 0;

   } 
}
@media screen and (max-width: 1084px) {
    
    .log_body .con_img img{
        display: none;
    }
}
@media screen and (min-width: 1240px) {
    
    .log_body .vector{
        display: block;
    }
}

@media screen {
    
}


